# This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).

module HealthOs
  class DrugInteractionsController < BaseController
    @@instance = DrugInteractionsController.new
    # Singleton instance of the controller class
    def self.instance
      @@instance
    end

    # TODO: Add Description
    # @param [String] generic_id Required parameter: Example: 
    # @return Mixed response from the API call
    def get_generics_interactions(generic_id)

      # prepare query url
      _query_builder = Configuration.base_uri.dup % [Configuration.host]
      _query_builder << '/interactions/generics/{generic_id}'
      _query_builder = APIHelper.append_url_with_template_parameters _query_builder, {
        'generic_id' => generic_id
      }
      _query_url = APIHelper.clean_url _query_builder

      # prepare headers
      _headers = {
        'accept' => 'application/json'
      }

      # prepare and execute HttpRequest
      _request = @http_client.get _query_url, headers: _headers
      OAuth2.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # return appropriate response type
      decoded = APIHelper.json_deserialize(_context.response.raw_body) if not (_context.response.raw_body.nil? or _context.response.raw_body.to_s.strip.empty?)
      return decoded
    end

    # TODO: Add Description
    # @param [String] medicine_id Required parameter: Example: 
    # @return Mixed response from the API call
    def get_medicine_interactions(medicine_id)

      # prepare query url
      _query_builder = Configuration.base_uri.dup % [Configuration.host]
      _query_builder << '/interactions/medicines/{medicine_id}'
      _query_builder = APIHelper.append_url_with_template_parameters _query_builder, {
        'medicine_id' => medicine_id
      }
      _query_url = APIHelper.clean_url _query_builder

      # prepare headers
      _headers = {
        'accept' => 'application/json'
      }

      # prepare and execute HttpRequest
      _request = @http_client.get _query_url, headers: _headers
      OAuth2.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)

      # return appropriate response type
      decoded = APIHelper.json_deserialize(_context.response.raw_body) if not (_context.response.raw_body.nil? or _context.response.raw_body.to_s.strip.empty?)
      return decoded
    end
  end
end
